<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>全房屋一覽 - 黑色沙漠</title>
  <link rel="stylesheet" href="lib/semantic.min.css">
  <script src="lib/jquery-3.3.1.min.js"></script>
  <script src="lib/lodash.core.min.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/httpVueLoader.js"></script>
  <script src="lib/semantic.min.js"></script>
  <script src="lib/tablesort.js"></script>
  <script src="lib/canvasjs.min.js"></script>
  <script src="index.js"></script>
  <style>
    h1.ui.header {
      font-family: "微軟正黑體", Microsoft JhengHei, "黑體-繁", "蘋果儷中黑", sans-serif;
    }
    div.item {
      white-space: nowrap;
    }
    #title {
      position: relative;
    }
    div.right-header {
      position: absolute;
      right: 0;
      bottom: 1em;
    }
    #app > .ui.menu > div.item {
      padding-right: 0;
    }
    .ui.search .prompt {
      border-radius: .28571429rem;
      text-overflow: ellipsis;
    }
    select option[disabled] {
      color: #ddd;
    }
  </style>
</head>
<body>
  <div class="ui container" id="app">
    <h1 class="ui header vertical segment" id="title">黑色沙漠全房屋一覽
      <div class="sub header right-header">
        <div class="ui checked checkbox" v-show="false">
          <input type="checkbox" id="example" class="hidden" checked>
          <label for="example">記住瀏覽</label>
        </div>
      </div>
    </h1>
    
    <div class="ui secondary  menu">
      <div class="item">村莊：
        <select class="ui dropdown" id="villages" ref="village" v-model="s_village">
          <option value="all" selected>全區域</option>
          <optgroup v-for="v in zones" :label="v.zone">
            <option v-for="v in v.villages" :value="v">
              {{ v }}
            </option>
          </optgroup>
        </select>
      </div>
      <div class="item" >製作搜索：
        <div class="ui search" id="search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search..." size="10" ref="search">
            <i class="search link icon" @click="search"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="item">CP值：
        <div class="ui action input">
          <select class="ui dropdown" id="cpvalue" v-model="scp" ref="cpvalue">
            <option v-for="v in cpvals" :value="v">{{v}}</option>
          </select>
          <button class="ui button" @click="calcCP">計算CP值</button>
        </div>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui action input">
            <select class="ui dropdown" ref="types">
              <option value="all" selected>全部</option>
              <option v-for="v in types" :value="v" :disabled="s_village !== 'all' && !hasType(v, s_village)">{{v}}</option>
            </select>
            <button class="ui button" @click="listInfo">查詢所有房屋資訊</button>
          </div>
        </div>
        <!--<div class="item">
          <button class="ui button">查詢所有房屋資訊</button>
        </div>
        <div class="item">
          <div class="ui selection top right pointing dropdown compact">
            <span class="text">房屋篩選/忽略(0)</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="ui search icon input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search issues...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Filter by tag
              </div>
              <div class="item">
                <div class="ui red empty circular label"></div>
                Important
              </div>
              <div class="item">
                <div class="ui blue empty circular label"></div>
                Announcement
              </div>
              <div class="item">
                <div class="ui black empty circular label"></div>
                Discussion
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="calendar icon"></i>
                Filter by date
              </div>
              <div class="item">
                <i class="olive circle icon"></i>
                This Week
              </div>
              <div class="item">
                <i class="violet circle icon"></i>
                This Month
              </div>
              <div class="item">
                <i class="orange circle icon"></i>
                This Year
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <div class="ui container" id="result">
      <div v-for="(v,i) in results" :is="v.is" ref="results" @init="v.init&&v.init(v.key)" @close="results.splice(i,1)" :k="v.key" :key="v.key"></div>
    </div>
  </div>
</body>
</html>
